
html, body {margin: 0px;
  	padding: 0px;}

body {background: #F8F8F8;
	font-family: "Manrope";}





.cabecalho {background: #4A6FA5;;
            width: 100%;
            height: 120px;
			position: fixed;
			top: 0;
			z-index: 10;}

#logo {font-size: 24px;
        margin-top: 40px;
        color: #FFF;
}


.navegacao {
    float: right;
    display: inline-flex;
    align-items: center;
    gap: 39px;
    margin-right: 50px;
    margin-top: 35px;
        color: #FFF;
        font-size: 18px;
        }

.nav {
    color: #FFF;
}

.conteudo {position: relative;
			top: 120px;}


            .titlerobotic {
                color: #166088;
            text-shadow: 78px 178px 54px rgba(0, 0, 0, 0.00), 50px 114px 50px rgba(0, 0, 0, 0.01), 28px 64px 42px rgba(0, 0, 0, 0.05), 12px 28px 31px rgba(0, 0, 0, 0.09), 3px 7px 17px rgba(0, 0, 0, 0.10);
            font-family: "Orbitron";
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 124px;
            margin-left: 154px;
            }
            
            .subtitle {
                color: #373737;
            font-family: Manrope;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 1603px;
            margin-left: 154px;
            margin-top: 60px;
            }









.produtos {background-color: #EEEEEE;
		width: 200px;
		height: 430px;
		padding: 30px;
		border-radius: 15px;
		display: inline-block;}



#carrinhobotao {margin-left: 43%;
				margin-top: 40px;
				font-size: 20px;
				text-decoration: none;
				background-color: #EEEEEE;
				padding: 20px;
				width: 165px;
				border-radius: 15px;}


.imgsobrenos {background-color: #EEEEEE;
		width: 500px;
		height: 500px;
		padding: 20px;
		border-radius: 15px;
		margin-left: 80px;
		margin-top: 50px;
		margin-bottom: 50px;
		display: inline-block;}


.rodape {text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 50px;}



li {
  display: inline;
  padding: 8px;
}


a {text-decoration: none;
	padding: 5px;}

a:link {color: #FFF;}

a:visited {color: #FFF;}

